<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" href="../css/weui.min.css">
<link rel="stylesheet" type="text/css" href="../css/jquery-weui.min.css">
<link rel="stylesheet" type="text/css" href="../css/reset.css">
<link rel="stylesheet" type="text/css" href="../css/style.min.css">
<script src='../js/common.js'></script>
<script src='http://api.map.baidu.com/api?v=2.0&ak=UpiGzKvHI69ewiB14LucBygfICIEmpvc' data-main='main.js'></script>
<title>老牛外卖</title>
</head>
<body>
<header id='header'></header>
<section id='app-Wrapper'>
	<div id='app'></div>
</section>
<div id='loading-masker'>
	<div class='masker-container'>
		<img class='cowLogo'src='../images/loading/cowLogo.png'/>
		<div class='tf'>
			<img class='t-l' src='../images/loading/t-l.png'/>
			<img class='t-n' src='../images/loading/t-n.png'/>
			<img class='t-w' src='../images/loading/t-w.png'/>
			<img class='t-m' src='../images/loading/t-m.png'/>
		</div>
	</div>
	<div class='app-entrence'>开始订餐</div>
</div>
<footer id='footer'></footer>
<script src='../js/app.js'></script>
</body>
</html>